In [440]:
import pandas as pd
from sklearn import preprocessing
from collections import deque
import numpy as np
from itertools import islice
from numpy import random

In [441]:
df = pd.read_csv('data/clean_dataframe')
df.set_index('Unnamed: 0', inplace=True)
df.index.names = ['date']
df.head()

,MSFT,DIS,TSLA,FB,ADBE,V
date,,,,,,
2020-10-01,211.418289,123.309998,448.160004,266.630005,499.510010,202.729340
2020-10-02,205.179031,122.550003,415.089996,259.940002,478.989990,200.845108
2020-10-05,209.348495,123.370003,425.679993,264.649994,486.470001,202.918732
2020-10-06,204.900406,120.930000,413.980011,258.660004,478.980011,199.838181
2020-10-07,208.801178,122.910004,425.299988,258.119995,493.149994,201.852020

In [442]:
dates = sorted(df.index.values)
last_25pct = sorted(df.index.values)[-int(0.3 * len(dates))]
df_real = df[(df.index >= last_25pct)]
df_train = df[(df.index < last_25pct)]

In [443]:
b = 15
f = 4
w = b + f
sequential_data = []
prev_days = deque(maxlen=w)
df_pct = df.pct_change()
df_pct.dropna(inplace=True)

sequential_data = []
for col in df_pct.columns:
    full_seq = df_pct[col][:w]
    b_seq = full_seq[:b]
    f_seq = full_seq[-f:]
    
    seq_min_max = max(abs(np.min(b_seq)), abs(np.max(b_seq)))
    b_seq = np.interp(b_seq, (-seq_min_max, seq_min_max), (-1, 1))
    f_seq = np.interp(f_seq, (-seq_min_max, seq_min_max), (-1, 1))
    sequential_data.append([b_seq, f_seq])

In [444]:
sequential_data = np.array(sequential_data)
np.save('data/prices_15_4', sequential_data)

<ipython-input-444-cf8598def8db>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  sequential_data = np.array(sequential_data)